header{
    margin-top: 50px;
    background-color: #C52330;
    height: 100px;
    padding: 10px;
}
body{
    background-color: #d3d3d3;
}
table{
    background-color: white;
    border-style:solid;
    border-color: #C52330;
    border-width: 20px;
}

footer{
    height: 10%;
}
header h1{
    color:white;
    text-align: center;
}

th,td{
    padding:10px;
}
